<form method="post" action="{{ path('app_admin_tech_delete', {'id': admin_tech.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_tech.id) }}">
    <button class="btn bnt-danger">Delete</button>
</form>
