{% extends 'base.html.twig' %}

{% block title %}Edit AdminTech{% endblock %}

{% block body %}
    <h1>Edit AdminTech</h1>

    {{ include('admin_tech/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_tech_index') }}">back to list</a>

    {{ include('admin_tech/_delete_form.html.twig') }}
{% endblock %}
