{% extends 'base.html.twig' %}

{% block title %}Cargar Mufas{% endblock %}

{% block body %}
    <h1>Cargar Mufas</h1>

    {{ include('mufas/_form.html.twig') }}

    <a type="button" class="btn btn-secondary" href="{{ path('app_mufas_index') }}">back to list</a>
{% endblock %}
